.DS_Store
.env
.env.*
.eslintignore
.eslintrc.cjs
.github
.gitignore
.idea
.npmrc
.prettierignore
.prettierrc
.svelte-kit
bin
build
coverage
dist
docs-src
node_modules
orbitale-svelte-admin-*.tgz
package
static
svelte.config.js
typedoc.json
vite.config.js.timestamp-*
vite.config.ts
vite.config.ts.timestamp-*
vite.lib.config.ts
vite.webcomponents.config.ts
yarn-error.log
yarn.lock
dist/app/
src/testApp/*
src/app.html
src/app.d.ts
